/* Fade */
@mixin fade($colour: $activeColor) {
	@include hacks();
	overflow: hidden;
	@include prefixed(transition-duration, $mediumDuration);
	@include prefixed(transition-property, "color, background-color");

	&:hover,
	&:focus,
	&:active {
		background-color: $colour;
		color: white;
	}
}
